<%=erb :form %>

<div class="location latitude">
  <%= location[:latitude] if location %>
</div>

<div class="location longitutde">
  <%= location[:longitude] if location %>
</div>

<% if results %>

<ul><% results.each do |result| %>
  <b><li><%= result[:name] %> <%= result[:distance] %> mi </li></b>
  <ul>
      <% result[:details].each do |item| %>
        <li>- <%= item %></li>
      <% end %>
    </ul>
  <% end%>
</ul>
<% end%>
